body{

    background-color: lightgray;
    font-family: helvetica, arial, sans-serif;
}
h1{
    color: #3a241d;
    text-align: center;
}
.container{
	position: absolute;
	background-color: #eee;
}
#left-container{
	left: 0px;
	top: 10%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 15%;
	height: 90%;
}
#right-container{
	right: 0px;
	top: 10%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 15%;
	height: 90%;
}
#center-container{
	left: 17%;
	right: 17%;
	top: 10%;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 60%;
	height: 90%;
}
#header{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	background-color: #3a241d;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 10%;
	width: 95%;
}
