body{

    background-color: lightgray;
    font-family: helvetica, arial, sans-serif;
}
h1{
    color: #3a241d;
    text-align: center;
}
#left-container{
	position: absolute;
	background-color: #eee;
	left: -100%;
	top: 10%;
	width: 15%;
	height: 80%;
	opacity: 0;
	transform:translateX(0%);
	transition: opacity 0.5s, transform 0.5s;
	z-index: 3;
}
#left-hotbar{
	position: absolute;
	background-color: #eee;
	left: 0px;
	top: 10%;
	width: 15%;
	height: 80%;
	z-index:2;
	overflow: auto;
}
#left-hotbar:hover + #left-container{
	opacity: 1;
	transform:translateX(100%);
}
#right-container{
	position: absolute;
	background-color: #eee;
	right: 0px;
	top: 10%;
	width: 15%;
	height: 80%;
	
}
#center-container{
	position: absolute;
	background-color: #fff;
	left: 05%;
	right: 15%;
	top: 10%;
	width: 80%;
	height: 80%;
}
#header{
	position: fixed;
	background-color: #3a241d;
	color: white;
	top: 0px;
	left: 0px;
	text-align: center;
	height: 10%;
	width: 100%;
}
#footer{	
	position: fixed;
	text-align: center;
	background-color: #3a241d;
	color: white;
	bottom: 0px;
	left: 0px;
	height: 10%;
	width: 100%;
}
nav{
	position: absolute;
	background-color: #3a241d00;
	color: white;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	z-index: 1;
	text-align: center;
	word-spacing: 5em;	
}
#container-impressum{
	position: absolute;
	background-color: #fff;
	left: 0%;
	right: 15%;
	top: 10%;
	width: 100%;
	height: 80%;
}
#container-privacy{
	position: absolute;
	background-color: #fff;
	left: 0%;
	top: 10%;
	width: 100%;
	height: auto;
}

#container-contact{
	position: absolute;
	background-color: #fff;
	left: 0%;
	top: 10%;
	width: 100%;
	height: 80%;
}
a{
	color: white;
	text-decoration: none;
}