body{

    background-color: lightgray;
    font-family: helvetica, arial, sans-serif;
}
h1{
    color: #3a241d;
    text-align: center;
}
#left-container{
	position: absolute;
	background-color: #eee;
	left: 0px;
	top: 10%;
	width: 15%;
	height: 90%;
}
#right-container{
	position: absolute;
	background-color: #eee;
	right: 0px;
	top: 10%;
	width: 15%;
	height: 90%;
	
}
#center-container{
	position: absolute;
	background-color: #fff;
	left: 15%;
	right: 15%;
	top: 10%;
	width: 70%;
	height: 90%;
}
#header{
	position: absolute;
	background-color: #3a241d;
	color: white;
	top: 0px;
	left: 0px;
	text-align: center;
	height: 10%;
	width: 100%;
}
#footer{	
	position: absolute;
	text-align: center;
	background-color: #3a241d;
	color: white;
	bottom: 0px;
	left: 0px;
	height: 10%;
	width: 100%;
}
nav{
	position: relative;
	background-color: #3a241d00;
	color: white;
	bottom: 50px;
	left: 0px;
	width: 100%;
	height: 50%;
	z-index: 1;
	text-align: center;
	word-spacing: 5em;
	
}
#container-impressum{
	position: absolute;
	background-color: #fff;
	left: 0%;
	right: 15%;
	top: 10%;
	width: 100%;
	height: 90%;
}
a{
	color: white;
	text-decoration: none;
}